/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-blue);
$accent:  mat-palette($mat-yellow, A200, A100, A400);
$logo: mat-palette($mat-blue, A100, A300);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, material-app, md-sidenav-container, .ahem-sidnav-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ahem-app {

}

.ahem-account-selector {
  flex: 1;
}

.ahem-margin-auto {
  margin: auto;
}



.ahem-hand-pointer {
  cursor: pointer;
}

.ahem-email-content-container {
  margin: 20px;
  font-size: smaller;
}

.ahem-sideNav-container {
  height: 100%;
}

.ahem-overflow {
  overflow: auto;
}

.ahem-sideNav {
  width: 300px;
}

.ahem-logo {
  font-size: 64px;
  height: 64px;
  width: 64px;
  color: lightblue;
  flex: 1;
  -webkit-box-flex: 1;
}

//.ahem-sidnav-content {
//  height: 80%;
//  overflow: auto;
//  //width: 100%;
//  flex: 1;
//  flex-direction: column;
//  padding: 20px;
//  margin-bottom: 20px;
//}




