/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-blue, 900, A700, A700);
$accent:  mat-palette($mat-indigo, 50, 300, A400);
$logo: mat-palette($mat-blue, A100, A300);


$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, material-app, md-sidenav-container, ahem-sidnav-content {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


body {

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-main-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

app-account-view-page {
  flex:1;
  overflow: auto;
}

.ahem-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  position: relative;
  z-index: 10;
}

.ahem-internal-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 10;
}

.ahem-account-selector {

  justify-content: center;
  align-items: center;
  margin:auto;
  margin-top:20px;

}

.ahem-account-selector-internal {

  align-self: end;

}

.ahem-centered-card {
  width:600px;
  margin: auto;
  margin-top: 20px;
  align-self: center;
}

.ahem-margin-auto {
  margin: auto;
}

.ahem-envelope {
  font-size: 20px;
  height: 20px !important;
}

.ahem-email-list {
  height: 100%;
}


.ahem-hand-pointer {
  cursor: pointer;
}

.ahem-email-content-container {
  margin: 20px;
  font-size: smaller;
}

.ahem-sideNav-container {
  height: 100%;
}

.ahem-overflow {
  overflow: auto;
}

.ahem-sideNav {
  box-shadow: 4px 2px 11px -5px rgba(0, 0, 0, 0.55);
  width: 300px;
}

.ahem-logo-span {
  flex: 1;
  -webkit-box-flex: 1;
}

.ahem-logo {
  font-size: 64px;
  height: 64px;
  width: 64px;
  color: lightblue;

}

.ahem-email-selected {
  background: #fafafa;
  font-weight: bold;
}

.ahem-email-list-item {
  :hover {
    background: #fafafa;
    transition: all .3s;
  }
  :active {
    background: lightblue;
    transition: all .3s;
  }
}


//.ahem-sidnav-content {
//  height: 80%;
//  overflow: auto;
//  //width: 100%;
//  flex: 1;
//  flex-direction: column;
//  padding: 20px;
//  margin-bottom: 20px;
//}




