@media screen and (max-width: 720px) {
  router-outlet {
    margin-top: 56px;
  }
}

.ahem-toolbar-small {
  font-size: 0.8em;
}

.mat-icon.ahem-logo {
  width: 64px;
  height: 64px;
}

.mat-icon.ahem-logo-text {
  margin-left: 40px;
  height: 64px;
  width: 128px;
}

:host ::ng-deep path {
  fill: #dbeaff;
}


@media screen and (min-width: 720px) {
  .mat-icon.ahem-logo {
    width: 128px;
    height: 128px;
  }
  .mat-icon.ahem-logo-text {
    height: 128px;
    width: 256px;
  }
}

.mat-icon.on-account-page {
  margin-left: 40px;
  height: 64px;
  width: 128px;
}


