<mat-toolbar class="ahem-toolbar" color="primary">
  <a routerLink="/" class="ahem-hand-pointer ahem-logo-span">
    <mat-icon svgIcon="ahem-logo" class="ahem-logo"></mat-icon>
  </a>
  <mat-icon svgIcon="ahem-logo-text" class="ahem-logo-text"></mat-icon>

  <span class="ahem-spacer"></span>
  <!--<app-mailbox-selector *ngIf="!hideToolbarComponents" class="ahem-mailbox-selector ahem-mailbox-selector-internal" [color]="'accent'" [selectedMailbox]="mailbox"></app-mailbox-selector>-->
</mat-toolbar>
