@media screen and (max-width: 720px) {
  router-outlet {
    margin-top: 56px;
  }
}

.ahem-toolbar-small {
  font-size: 0.8em;
}

.logo {
  position: relative;
  top: 2px;
}

.mat-icon.ahem-logo {
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 720px) {
  .mat-icon.ahem-logo {
    width: 128px;
    height: 128px;
  }
}

.logo-small {
  position: relative;
  top: 2px;
  width: 64px;
}
