<div>
  <img src="assets/images/ahem-fumbled.png" alt="404 - Page not found!">
  <h2>
    Page not found!
  </h2>
  <p>
    The page you are looking for cannot be found. Here are some other options instead:

      <ul>
        <li>
          <a [routerLink]="['/']">
            AHEM Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/privacy']">
            Privacy policy
          </a>
        </li>
        <li>
          <a [routerLink]="['/help/api']">
            API Documentation
          </a>
        </li>
        <li>
          <a href="https://github.com/o4oren/Ad-Hoc-Email-Server" target="_blank">
            Our GitHub Home
          </a>
        </li>
      </ul>
</div>
<ahem-footer class="footer"></ahem-footer>
