<app-banner></app-banner>
<div class="ahem-centered ahem-doc-api">
  <h1>AHEM Accounts</h1>
  <p>
    AHEM mailbox accounts are created ad-hoc when an e-mail reaches its address or when you generate a random one.
    <br>
    Please use one of the links below to continue.
  <ul>
    <li>
      <a [routerLink]="['/']">
        AHEM Home
      </a>
    </li>
    <li>
      <a [routerLink]="['/privacy']">
        Privacy policy
      </a>
    </li>
    <li>
      <a [routerLink]="['/help/api']">
        API Documentation
      </a>
    </li>
    <li>
      <a href="https://github.com/o4oren/Ad-Hoc-Email-Server" target="_blank">
        Our GitHub Home
      </a>
    </li>
  </ul>

</div>
