FORMAT: 1A
HOST: https://www.ahem.email/api/

# AHEM - Ad Hoc Email

AHEM is an ad hoc disposable and temporary email service. It allows receiving email at an ad-hoc created email, created on the fly when an email is received by our server.
Using the AHEM service allows you to prevent spam to your real email, and to test products that send email as part of their lifecycle.

An access token is needed for most API calls. Get an access token by calling /api/auth/authenticate.
Use the token in the Authorization header as a Bearer token.

## alive [/alive]

### Get system check results [GET]
+ Response 200 (application/json)

        {
            "success": true,
            "api": true,
            "smtp": true,
            "db": true
        }

## properties [/properties]

### Get server properties [GET]

+ Response 200 (application/json)

        {
            "serverBaseUri":"https://www.ahem.email",
            "emailDeleteInterval":86400,
            "emailDeleteAge":7200,
            "allowedDomains":[
                "ahem.email",
                "mail.ahem.email",
                "ahem-email.com"
                ],
            "allowAutocomplete":false,
            "customText": null
        }


## authentication [/auth/authenticate]

### Get access token [POST]

+ Request (application/json)

    + Body
        
            {}

+ Response 200 (application/json)

        {
            "success":true,
            "token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpcCI6Ijo6MSIsImlhdCI6MTUzOTU1NTI5NCwiZXhwIjoxNTM5NTU4ODk0fQ.Y8FhYY5OGbHNn6EOcrF81swX3xeLF4t7Q6F5L7z6Xdg",
        }

## Account's Email List [/account/{accountName}/email]

### List All Emails in an account [GET]
    
+ Parameters
    + accountName: accountName (string, required) - account name.
    
+ Request

    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpcCI6Ijo6MSIsImlhdCI6MTUzOTU1NTI5NCwiZXhwIjoxNTM5NTU4ODk0fQ.Y8FhYY5OGbHNn6EOcrF81swX3xeLF4t7Q6F5L7z6Xdg

+ Response 200 (application/json)

        [
            {
                "emailId":"5bc3c17cb76d8f4e1099725c",
                "sender":
                    {
                        "address":"test@my.domain.com",
                        "name":"AHEM Test!"
                    },
                "subject":"AHEM mail test!",
                "timestamp":1539555708477,
                "isRead":true
            }
        ]
        
+ Response 404 (application/json)

        {
            error: "ACCOUNT IS EMPTY!"
        }

+ Response 401 (application/json)

        {
            "success": false,
            "message": "No token provided."
        }