@media screen and (max-width: 720px){
  img {
    width: 100%;
  }
}

.fumbled {
  margin-top: -200px;
  z-index: 11;
  position: relative;
}

@media screen and (min-width: 720px){
  .fumbled {
    padding-left: 200px;
  }
}

div {
  margin: auto;
}
