<div class="ahem-centered">
  <h1>
    AHEM - Ad Hoc Temporary Email Address
  </h1>
  <img src="assets/images/ahem-fumbled.png" alt="404 - Page not found!">
  <h2>
    The page you are looking for does not exist.
  </h2>

  <p>
    Please use one of the links below to continue.
  <ul>
    <li>
      <a [routerLink]="['/']">
        AHEM Home
      </a>
    </li>
    <li>
      <a [routerLink]="['/privacy']">
        Privacy policy
      </a>
    </li>
    <li>
      <a [routerLink]="['/help/api']">
        API Documentation
      </a>
    </li>
    <li>
      <a href="https://github.com/o4oren/Ad-Hoc-Email-Server" target="_blank">
        Our GitHub Home
      </a>
    </li>
  </ul>
</div>
