.ahem-email-content-container {
  font-size: smaller;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 20px;
}

.ahem-email-content {
  overflow: auto;
  margin-top: 20px;
}

ng-adsense {
  width: 80%;
  margin: 10px;
}
