.ahem-email-content-container {
  font-size: smaller;
  margin-bottom: 20px;
}

@media screen and (min-width: 1024px){
  .ahem-email-content-container {
    margin-left: 10%;
    margin-right: 10%;
  }
  ng-adsense {
    max-height: 250px;
  }
}

.ahem-email-content {
  overflow: auto;
  margin-top: 20px;
}

ng-adsense {
  width: 100%;
  margin: 10px;
}
