<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary" class="ahem-toolbar">
  <span routerLink="" class="ahem-hand-pointer ahem-logo-span">
    <md-icon svgIcon="ahem-logo" class="ahem-logo"></md-icon>
  </span>
  <span class='ahem-logo-span'>AHEM - Ad Hoc Email Server</span>
  <span class="ahem-spacer"></span>
  <app-account-selector *ngIf="!hideToolbarComponents" class="ahem-account-selector ahem-account-selector-internal" [color]="'accent'" [selectedAccount]="account"></app-account-selector>
</md-toolbar>
<router-outlet></router-outlet>
