@media screen and (max-width: 720px) {
  router-outlet {
    margin-top: 56px;
  }
  mat-toolbar {
    position: fixed;
    top: 0;
  }
}

.ahem-toolbar-small {
  font-size: 0.8em;
}

.logo {
  position: relative;
  top: 2px;
}

.logo-small {
  position: relative;
  top: 2px;
  width: 64px;
}
