<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="ahem-toolbar">
  <span routerLink="" class="ahem-hand-pointer ahem-logo-span">
    <mat-icon svgIcon="ahem-logo" class="ahem-logo"></mat-icon>
  </span>
  <span>AHEM - Ad Hoc Email Server</span>
  <span class="ahem-spacer"></span>
  <app-account-selector *ngIf="!hideToolbarComponents" class="ahem-account-selector ahem-account-selector-internal" [color]="'accent'" [selectedAccount]="account"></app-account-selector>
</mat-toolbar>
<router-outlet></router-outlet>
