<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="ahem-toolbar">
  <span routerLink="" class="ahem-hand-pointer ahem-logo-span">
    <!--<mat-icon svgIcon="ahem-logo" class="ahem-logo"></mat-icon>-->
    <img src="/assets/images/ahem-logo.png" alt="AHEM - an adc-hoc email server"
         srcset="/assets/images/ahem-logo-64.png 64w, /assets/images/ahem-logo.png 128w"
         sizes="(min-width: 720px) 128px, 64px"
         class="logo">
  </span>
  <span *ngIf="!deviceService.isSmallScreen()">AHEM - Ad Hoc Email Address</span>
  <span *ngIf="deviceService.isSmallScreen()" class="ahem-toolbar-small">AHEM - Ad Hoc Email</span>
  <span class="ahem-spacer"></span>
  <!--<app-account-selector *ngIf="!hideToolbarComponents" class="ahem-account-selector ahem-account-selector-internal" [color]="'accent'" [selectedAccount]="account"></app-account-selector>-->
</mat-toolbar>
<router-outlet></router-outlet>


