<mat-sidenav-container class="ahem-sideNav-container ahem-overflow">
  <!-- if an account link-->
  <mat-sidenav *ngIf="this.account" #sidenav opened="deviceService.isSmallScreen()"
               [mode]="deviceService.isSmallScreen() ? 'over' : 'side'"
               class="ahem-sideNav"
  >
    <mat-list>
      <!-- used for the sake of pushing the sidenav downwards when it is in hover mode for mobile-->
      <div *ngFor='let email of emails' (click)="clickedEmail(email)" class="ahem-email-list-item" [ngClass]="{'ahem-email-selected': email.isSelected }">
          <ahem-email-info [emailInfo]="email"></ahem-email-info>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-sidenav>

  <div *ngIf="this.account">
    <mat-toolbar color="accent" class="ahem-internal-toolbar">
      <button mat-button (click)="sidenav.toggle()"><mat-icon style="height:100%" fontSet="fa" fontIcon="fa-navicon"></mat-icon></button>
      <button mat-button *ngIf="selectedEmail" (click)="deleteFile()"><mat-icon>delete forever</mat-icon>Delete</button>
      <button mat-button *ngIf="selectedEmail" (click)="markAsReadOrUnread()"><mat-icon style="height:100%" fontSet="fa" fontIcon={{readUnreadIcon}}></mat-icon>Mark as {{readUnreadText}}</button>
    </mat-toolbar>
   <ahem-email-view [email]="selectedEmail"></ahem-email-view>
  </div>

<!-- if not an account link-->
  <div *ngIf="!this.account">
    <div class="ahem-centered ahem-doc-api">
      <h1>AHEM Accounts</h1>
      <p>
        You have reached a non existing AHEM account page. AHEM accounts are created ad-hoc when an e-mail reaches its address.

      </p>
    </div>
  </div>

</mat-sidenav-container>



