<mat-sidenav-container class="ahem-sideNav-container ahem-overflow">
  <!-- if an account link-->
  <mat-sidenav *ngIf="this.account" #sidenav opened="deviceService.isSmallScreen()"
               [mode]="deviceService.isSmallScreen() ? 'over' : 'side'"
               class="ahem-sideNav"
  >
    <mat-list>
      <!-- used for the sake of pushing the sidenav downwards when it is in hover mode for mobile-->
      <div *ngFor='let email of emails' (click)="clickedEmail(email)" class="ahem-email-list-item" [ngClass]="{'ahem-email-selected': email.isSelected }">
          <ahem-email-info [emailInfo]="email"></ahem-email-info>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-sidenav>

  <div *ngIf="this.account">
    <mat-toolbar color="accent" class="ahem-internal-toolbar">
      <button mat-button (click)="sidenav.toggle()"><fa-icon [icon]="['fas', 'bars']"></fa-icon></button>
      <button mat-button *ngIf="selectedEmail" (click)="deleteFile()"><fa-icon [icon]="['fas', 'trash']"></fa-icon> Delete</button>
      <button mat-button *ngIf="selectedEmail" (click)="markAsReadOrUnread()"><fa-icon [icon]="['far', readUnreadIcon]"></fa-icon> Mark as {{readUnreadText}}</button>
    </mat-toolbar>
   <ahem-email-view [email]="selectedEmail"></ahem-email-view>
  </div>

<!-- if not an account link-->
  <div *ngIf="!this.account">
    <div class="ahem-centered ahem-doc-api">
      <h1>AHEM Accounts</h1>
      <p>
        AHEM mailbox accounts are created ad-hoc when an e-mail reaches its address or when you generate a random one.
        <br>
        Please use one of the links below to continue.
      <ul>
        <li>
          <a [routerLink]="['/']">
            AHEM Home
          </a>
        </li>
        <li>
          <a [routerLink]="['/privacy']">
            Privacy policy
          </a>
        </li>
        <li>
          <a [routerLink]="['/help/api']">
            API Documentation
          </a>
        </li>
        <li>
          <a href="https://github.com/o4oren/Ad-Hoc-Email-Server" target="_blank">
            Our GitHub Home
          </a>
        </li>
      </ul>

    </div>
  </div>

</mat-sidenav-container>



