
<div class="ahem-email-content-container">
  <mat-toolbar color="accent" class="ahem-internal-toolbar">
    <button mat-button *ngIf="emailDetails" (click)="deleteFile()"><fa-icon [icon]="['fas', 'trash']"></fa-icon> Delete</button>
    <button mat-button *ngIf="emailDetails" (click)="markAsReadOrUnread()"><fa-icon [icon]="['far', readUnreadIcon]"></fa-icon> Mark as {{readUnreadText}}</button>
  </mat-toolbar>
  <div *ngIf="emailDetails">
    <mat-card>
      <mat-card-header>
        <mat-card-title>From: {{emailDetails.from.text}}</mat-card-title>
        <mat-card-title>Date: {{emailDetails.timestamp | date:'medium'}}</mat-card-title>
        <mat-card-title *ngIf="emailDetails.to">To: {{emailDetails.to.text}}</mat-card-title>
        <mat-card-title *ngIf="emailDetails.cc">cc: {{emailDetails.cc.text}}</mat-card-title>
        <mat-card-title>Subject: {{emailDetails.subject}}</mat-card-title>
      </mat-card-header>
      <div *ngIf="emailDetails.attachments.length > 0">
        <mat-divider></mat-divider>
        Attachments: <attachments [emailDetails]="emailDetails" [account]="account" [emailId]="emailDetails._id"></attachments>
      </div>
      <mat-divider></mat-divider>

      <mat-card-content class="ahem-email-content">

        <div *ngIf="emailDetails.html" [innerHTML]="emailDetails.html | htmlSanitizer"> </div>
        <div *ngIf="!emailDetails.html" [innerHTML]="emailDetails.textAsHtml"> </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="!emailDetails">
    <mat-card>
        <mat-card-title> <div style="text-align:center">
          <fa-icon [icon]="['far','meh']"></fa-icon>
        </div>
        </mat-card-title>
    </mat-card>
  </div>
</div>
