.ahem-envelope {
  font-size: 20px;
  height: 20px !important;
}

.ahem-email-unread h2, .ahem-email-unread p{
  font-weight: bolder !important;
}

.ahem-email-list {
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

.ahem-internal-toolbar {
  padding-left: 20px;
}

.fumbled {
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 720px){
  .ahem-internal-toolbar {
    padding-left: 168px;
  }
}

.emails-list {
  flex: 1;
  min-width: 300px;
  width: 100%;
}

.email-list-container {
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding-top: 20px;
}

.email-list-adsense {
  width: 200px;
}

