.mat-column-uriPath {
  min-width: 400px;
}

.mat-cell {
  min-width: 100px;
}

.mat-table {
  min-width: 600px;
}

@media screen and (max-width: 720px) {
  .mat-column-uriPath {
    min-width: 0px;
  }
}
