<div *ngIf="isInline" class="ahem-inline-input-div">
  <input  type="text" matInput
          [matAutocomplete]="auto"
          [formControl]="autoCompleteControl"
          [(ngModel)]="selectedAccount"
          placeholder="Account"
          (keyup.enter)="clickSubmit()"
          class="ahem-inline-input mat-elevation-z8">
  <button mat-button matSuffix mat-icon-button aria-label="Go" routerLink="/account/{{selectedAccount | trimDomain}}">
    <mat-icon>navigate next</mat-icon>
  </button>
  <!--<span *ngIf="isInline && !deviceService.isSmallScreen()" matSuffix style="color: lightgrey">@{{properties.allowedDomains[0]}}</span>-->
</div>

<div *ngIf="!isInline">
  <mat-form-field color="{{color}}">
    <input type="email" matInput  [matAutocomplete]="auto" [formControl]="autoCompleteControl" [(ngModel)]="selectedAccount" placeholder="Account" (keyup.enter)="clickSubmit()">
    <span matSuffix style="color: grey">@{{properties.allowedDomains[0]}}</span>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngFor="let account of accounts" [value]="account">
      {{ account }}
    </mat-option>
  </mat-autocomplete>
  <a mat-button routerLink="/account/{{selectedAccount | trimDomain}}">Submit</a>
  <a mat-button (click)="generateEmail()">Generate</a>
</div>

