<div *ngIf="isInline" class="ahem-inline-input-div">
  <input  type="email" matInput
         [matAutocomplete]="auto"
         [formControl]="autoCompleteControl"
         [(ngModel)]="selectedAccount"
         placeholder="Account"
         (keyup.enter)="clickSubmit()"
         class="ahem-inline-input mat-elevation-z8">
  <span *ngIf="isInline" matSuffix style="color: grey">@{{properties.allowedDomains[0]}}</span>
</div>

<mat-form-field color="{{color}}" *ngIf="!isInline">
  <input type="email" matInput  [matAutocomplete]="auto" [formControl]="autoCompleteControl" [(ngModel)]="selectedAccount" placeholder="Account" (keyup.enter)="clickSubmit()">
  <span matSuffix style="color: grey">@{{properties.allowedDomains[0]}}</span>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete" >
  <mat-option *ngFor="let account of accounts" [value]="account">
    {{ account }}
  </mat-option>
</mat-autocomplete>
<a mat-button routerLink="/account/{{selectedAccount}}">Submit</a>
<a mat-button (click)="generateEmail()">Generate</a>


