.banner {
  background: #515f77;
  height: 300px;
  width: 100%;
  text-align: center ;
  margin-bottom: 80px;
}

h1 {
  margin: 0px;
  padding-top: 20px;
  font-size: 30px;
  color: white;
}

h2 {
  display: none;
}

@media screen and (min-width: 600px){
  h2 {
    margin: 0px;
    padding-top: 40px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    display: block;
  }
}


.selector {
  padding: 20px;
  background: #dbeaff;
  width: 300px;
  margin: auto;
  margin-top: 116px;

}

.home-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-content-container {
  width: 85%;
  max-width: 1200px;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding-top: 20px;
}
