<app-banner></app-banner>
<div class="ahem-centered" *ngIf="properties.customText">
  <mat-card-content [innerHtml]="properties.customText" class="ahem-centered">
  </mat-card-content>
  <app-mailbox-selector [isInline]="false"></app-mailbox-selector>
</div>
<div *ngIf="!properties.customText" class="home-container">
  <div class="home-content-container">
  <ng-adsense class="home-adsense"
    [adClient]="'ca-pub-4119576279673540'"
    [adSlot]="9150292677"
    [display]="'inline-block'"
    [adFormat]="'auto'"
  ></ng-adsense>
    <app-home-page-item *ngFor='let item of items' [homePageItem]="item"></app-home-page-item>
  <ng-adsense class="home-adsense"
    [adClient]="'ca-pub-4119576279673540'"
    [adSlot]="9150292677"
    [display]="'inline-block'"
    [adFormat]="'auto'"
  ></ng-adsense>
  </div>
</div>
<app-email-count></app-email-count>
<ng-adsense class="ng-adsense-center" *appShellNoRender></ng-adsense>

