.home-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-content-container {
  width: 85%;
  max-width: 900px;
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding-top: 20px;
}

.home-adsense {
  min-width: 200px;
  min-height: 200px;
}

