<app-banner></app-banner>
<div class="ahem-centered" *ngIf="properties.customText">
  <mat-card-content [innerHtml]="properties.customText" class="ahem-centered">
  </mat-card-content>
  <app-mailbox-selector [isInline]="false"></app-mailbox-selector>
</div>
<div *ngIf="!properties.customText" class="home-container">
  <div class="home-content-container">
    <app-home-page-item *ngFor='let item of items' [homePageItem]="item">1</app-home-page-item>
  </div>
</div>
<ng-adsense class="ng-adsense-center" *appShellNoRender></ng-adsense>
<app-email-count></app-email-count>

