<span>
<mat-card class="ahem-centered-card">
  <mat-card-content>
    <p>From <a href="https://www.merriam-webster.com/dictionary/ahem" target="_blank">Merriam-Webster</a>:</p>
  </mat-card-content>
  <mat-card-title-group>
    <mat-card-title>ahem</mat-card-title>
    <mat-card-subtitle>interjection \ a throat-clearing sound; often read as ə-ˈhem ; \</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <h3>Definition of ahem</h3>
    <p>—used especially to attract attention or to express disapproval or embarrassment</p>
  </mat-card-content>
</mat-card>
<mat-card class="ahem-centered-card">
   <mat-card-title>Ad Hoc Email Server</mat-card-title>
  <mat-card-content *ngIf="!properties.customText">
    <p>AHEM server is an ad-hoc mail server. By ad-hoc we mean that a mail box will be created for you as soon as an
      email for your account reaches the server.
      What is you account? Any account name you choose.</p>
    <p>The server serves the domains:
      <mat-list>
        <div *ngFor="let domain of properties.allowedDomains"> {{domain}}</div>
      </mat-list>
    <p>It will check every {{properties.emailDeleteInterval}} seconds if an email has passed
      {{properties.emailDeleteAge}} seconds of age, and if it did, it will erase it.</p>
    <p>So go ahead, and give it a try. Send an email to whatever@one-of-the domains above, and enter your account.</p>
  </mat-card-content>
  <mat-card-content *ngIf="properties.customText" [innerHtml]="properties.customText">

  </mat-card-content>
  <app-account-selector></app-account-selector>
</mat-card>
</span>
