.landing-page-item {
  margin: auto;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
  align-self: center;
  max-width: 1000px;
}

.landing-page-column {
  flex: 1;
  min-width: 360px;
  max-width: 1000px;
  height: 100%;
}

.landing-page-container {
  width: 100%;
  flex: 1;
  display: flex;
}

@media screen and (max-width: 720px) {
  #left {
    margin-right: 108px;
  }

  #right {
    margin-left: 128px;
  }
}


