.landing-page-item {
  margin: auto;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-self: center;
  max-width: 600px;
}
.ahem-inline-input-div {
  padding: 5px;
}

input::placeholder {
  color: lightgray;
}

.landing-page-column {
  flex: 1;
  min-width: 360px;
}

.landing-page-container {
  width: 100%;
  flex: 1;
  display: flex;
}
