/*a {*/
  /*padding: 3px;*/
  /*border-radius: 3px;*/
/*}*/

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

span:hover {
  background: #f2f2f2;
  transition: all .3s;
}

mat-icon {
  width: auto;
  padding: 5px;
  font-weight: 800;
}

.ahem-attachment-span {
  margin-right: 10px;
}
