.footer-item {
  margin: 5px;
}

.footer-internal {
  margin-top: 20px;
  border-top: solid 1px lightblue;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  height: auto;
  display: -webkit-flex; /* Safari */
}
