.footer-item {
  margin: 5px;
}

.footer-internal {
  margin-top: 20px;
  border-top: 1px solid #9cc9d6;
  background: #b3e5fc;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  display: -webkit-flex; /* Safari */
}
