.footer-item {
  margin: 5px;
}

.footer-internal {
  margin-top: 20px;
  border-top: solid 1px lightblue;
  font-size: 12px;
  display: flex;
  display: -webkit-flex;
  height: auto;
  display: -webkit-flex; /* Safari */
}
