<mat-toolbar color=accent class="footer-internal">
  <span class="footer-item">
    Copyright © 2017
  </span>
  <span class="footer-item">Code is available under an LGPL-3 license on <a href="https://github.com/o4oren/Ad-Hoc-Email-Server" target="_blank">github</a></span>
  <span class="ahem-spacer"></span>
  <button mat-button class="footer-item" color="primary" routerLink="/privacy">Privacy Policy</button>
  <button mat-button class="footer-item" color="primary" routerLink="/privacy">Terms</button>
  <button mat-button class="footer-item" color="primary" routerLink="/doc/api">API</button>
</mat-toolbar>
