<div class="ahem-centered ahem-doc-api">
  <mat-card-header>
    <mat-card-title><h2>Terms of use and privacy policy</h2></mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      <mat-card-subtitle><h3>Terms of use</h3></mat-card-subtitle>
      AHEM - Ad Hoc Email sever is a disposable public email system that provides no expectation of privacy. <br>
      By using the service - either consuming it via the web or api interfaces, or by sending emails to the supported
      domains listed in the welcome page, you agree to these terms.<br>
      Any email received by the system is considered public domain, and is accessible via the web servce and public apis
      without any requirement of authentication or identification.<br>
      We do not retain any responsibility, liability or ownership of the content of the emails received by the system.
      By design, any visitor to the website can read any email in the system.<br>
      Do not use the AHEM system for any information you wish to keep private. It will be readily available for anyone
      to consume.<br>
      There is no warranty of reliability or availability for any purpose. This site was developed as a free service,
      and may be removed or shut down at any time. <br>
      The code for the AHEM - Ad Hoc Emailail server is open sourced and available for download and installation on your
      own server for internal use. Do not expose it as a public service.
      You agree to not use AHEM directly or indirectly for any unlawful purpose. <br>
      You understand that the operators of the AHEM website has no control over material put into mailboxes.<br>
      You agree that you use the service as-is, with no expectation of responsibility or liability for any damage caused
      by loss of service, content or exposure of private or confidential information sent to an AHEM Emailmail.
      <br>
      These Terms of Use and Privacy Policy are effective as of Nov 1, 2017 and will remain in effect except with respect to any changes in its provisions in the future. These changes will take effect immediately after being posted on the Mailinator website.
      We reserve the right to update or change these Terms of Use and Privacy Policy at any time and you should check for updates periodically. Your continued use of the AHEM platform after any modifications are posted will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Terms of Service and Privacy Policy.
    </p>

    <mat-card-subtitle><h3>Privacy policy</h3></mat-card-subtitle>
    This privacy policy has been compiled to better serve those who are concerned with how their
    'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and
    information security, is information that can be used on its own or with other information to identify, contact,
    or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to
    get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable
    Information in accordance with our website.<br>
    <p>
      <mat-card-subtitle><strong>When do we collect information?</strong></mat-card-subtitle>
      We do not ask for any personal information, registration, or any other identifiable information from you when you
      use the site.<br>
      Emails received by the system may contain such information though, depending how you use the system. Information
      contained in the emails is saved in the system and is exposed, though it is not used or 'collected" by us.
      However, we may use the information collected when you surf the website, or use certain other site features
      to improve our website in order to
      better serve you.<br>

    </p>

    <p>
      <mat-card-subtitle><strong>How do we protect your information?</strong></mat-card-subtitle>
      We do not protect your information because we do not collect information. However, the nature of the service is
      such, that any email that you receive on an AHEM mailbox, is exposed to the public.
      <br>This is the nature of this service. We hold no responsibility for the content or disclosure of the emails.
    </p>

    <p>
      <mat-card-subtitle><strong>Do we use 'cookies'?</strong></mat-card-subtitle>
      Yes. Cookies are small files that a site or its service provider transfers to your computer's
      hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to
      recognize your browser and capture and remember certain information. For instance, we use cookies to help us
      remember and process the items in your shopping cart. They are also used to help us understand your preferences
      based on previous or current site activity, which enables us to provide you with improved services. We also use
      cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site
      experiences and tools in the future.<br>

      We use cookies to keep track of advertisements and to compile aggregate data about site traffic and site
      interactions in order to offer better site experiences and tools in the future. We may also use trusted
      third-party services that track this information on our behalf.
      <br>You can choose to have your computer warn you each time a cookie is being sent, or you can
      choose to turn off all cookies. You do this through your browser settings. As each browser is a little different,
      look
      at your browser's Help Menu to learn the correct way to modify your cookies.<br>
      <br>
      If you turn cookies off, some of the features that make your site experience more efficient may
      not function properly.
    </p>
    <p>
      <mat-card-subtitle><strong>Third-party disclosure</strong></mat-card-subtitle>
      We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable
      Information unless we provide users with advance notice. This does not include website hosting partners and other
      parties who assist us in operating our website, conducting our business, or serving our users, so long as those
      parties agree to keep this information confidential. We may also release information when its release is
      appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or
      safety. <br><br> However, non-personally identifiable visitor information may be provided to other parties for
      marketing, advertising, or other uses.
      <br>
      Occasionally, at our discretion, we may include or offer third-party products or services on
      our website. These third-party sites have separate and independent privacy policies. We therefore have no
      responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect
      the integrity of our site and welcome any feedback about these sites.
    </p>
    <p>
      <mat-card-subtitle><strong>Google</strong></mat-card-subtitle>
      Google's advertising requirements are described in Google's Advertising Principles. They are
      put in place to provide a positive experience for users.
      https://support.google.com/adwordspolicy/answer/1316548?hl=en <br>
      We use Google AdSense Advertising on our website.
      <br>Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the
      DART cookie enables it to serve ads to our users based on previous visits to our site and other sites on the
      Internet. Users may opt-out of the use of the DART cookie by visiting the Google Ad and Content Network privacy
      policy.
    </p>
    We have implemented the following:
    <ul>

      <li>Remarketing with Google AdSense</li>
      <li>Google Display Network Impression</li>
      <li>Demographics and Interests Reporting</li>
      <li>DoubleClick Platform Integration</li>
    </ul>

    <p>
    <p>We, along with third-party vendors such as Google use first-party cookies (such as the Google
      Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers
      together to compile data regarding user interactions with ad impressions and other ad service functions as they
      relate to our website.
    </p>
    <p>
      Opting out:
      Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can
      opt out by visiting the Network Advertising Initiative Opt Out page, or by using the Google Analytics Opt Out Browser

    </p>
    <p>
      <mat-card-subtitle><strong>COPPA (Children Online Privacy Protection Act)</strong></mat-card-subtitle>
      When it comes to the collection of personal information from children under the age of 13 years
      old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission,
      United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites
      and
      online services must do to protect children's privacy and safety online.<br>
      We do not specifically market to children under the age of 13 years old.
    </p>
    <p>
      <mat-card-subtitle><strong>CAN SPAM Act</strong></mat-card-subtitle>
      The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements
      for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out
      tough penalties for violations.<br>
      We do not collect your real email address, and we do not send out any commercial email.

      <br>
    </p>

  </mat-card-content>
</div>
<ahem-footer class="footer"></ahem-footer>
