<div color=accent class="footer-internal">
  <span class="footer-item">
    © 2018 ahem.email All Rights Reserved
  </span>
  <span class="footer-item">Source code is available for peraonal and internal use on <a href="https://github.com/o4oren/Ad-Hoc-Email-Server" target="_blank">github</a></span>
  <span class="ahem-spacer"></span>
  <a class="footer-item" color="primary" routerLink="/privacy">Privacy Policy</a>
  <a class="footer-item" color="primary" routerLink="/privacy">Terms</a>
  <a class="footer-item" color="primary" routerLink="/help/faq">FAQ</a>
  <a class="footer-item" color="primary" routerLink="/help/api">API</a>
</div>
