
.mat-table {
    max-width: 80vw;
}


.mat-column-httpMethod {
  max-width: 60px;
}

.mat-column-uriPath {
  min-width: 0px;
}

@media screen and (min-width: 720px) {
  .mat-column-uriPath {
    min-width: 400px;
  }
}
